html{
    background-color: black;
    height: 100dvh;
    width: 100dvw;
}
div{
    width: 80%;
    height: 50%;
    margin: 10% 10%;
    height: auto;
    color: rgb(245, 231, 43)
}
img{
    width: 100%;
    height: 100%;
    border: solid rgb(245, 231, 43);
    border-width: 3px;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
p{
    text-align: center;
}
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 50;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 100;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}



